/*Main Area*/

.CodeMirror,
.CodeMirror-scroll {
    background-color: #80FFFF;
    color: #003D66;
}

.CodeMirror .CodeMirror-scroll .CodeMirror-gutters {
    background: #4DFFFF;
    //border-right: 1px solid #1489FF;
}

.CodeMirror-cursor {
    border-left: 1px solid #ede0ce;
}

.CodeMirror .CodeMirror-overwrite .CodeMirror-cursor {
    border-left: none;
    border-bottom: 2px solid #ede0ce;
}


/*Value in key-value pair*/

.cm-atom,
.cm-link {
    color: #007D3E;
}


/*Numbers*/

.cm-number {
    color: #000044;
}


/*Key in key-value pair */

.cm-property {
    color: #0000F4;
}